<p>Turns left:  <%= @tally.turns_left %></p>
<p>Word so far: <%= word_so_far(@tally) %></p>
<%= form_for(@conn, Routes.hangman_path(@conn, :guess), [as: :game], fn f -> %>
    <%= text_input f, :guess %>
    <%= submit "Guess" %>
<% end) %>
